.preguntas {
    margin-top: 700px;
    margin-bottom: 200px;


    @media(max-width: 700px) {
        padding: 0 20px;
    }

    @media(max-width: 600px) {
        margin-top: 1000px;
    }

    @media(max-width: 450px) {
        margin-top: 900px;
    }

    .titulo {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            font-size: 28px;
            font-weight: 500;
            color: rgb(33, 37, 41);

            @media(max-width: 480px) {
                font-size: 20px;
            }
        }

        a {
            background: #3A80F4;
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 600;
            padding: 13px 30px;
            border-radius: 6px;

            &:hover {
                background: #2563EB;
                color: rgb(255, 255, 255);
            }

            @media(max-width: 480px) {
                font-size: 14px;
                padding: 13px 20px;
            }
        }

    }

    .linea {
        margin: 20px 0 40px;
        background-color: #E5E7EB;
        width: 100%;
        height: 2px;
    }

    .texto-preguntas {

        display: flex;
        gap: 20px;

        @media(max-width: 700px) {
            flex-direction: column;
            gap: 0;
        }

        div {
            width: 50%;

            @media(max-width: 700px) {
                width: 100%;
            }


            h5 {
                font-size: 18px;
                font-weight: 500;
                color: rgb(17, 24, 39);
            }

            p {
                font-weight: 400;
                font-size: 16px;
                color: rgb(107, 114, 128);
            }
        }
    }
}

a {
    text-decoration: none;
    color: rgb(107, 114, 128);
    font-weight: 600;
}