.resultados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 100px;

    @media(max-width: 1000px) {
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 20px;
    }

    @media(max-width: 700px) {
        padding: 0px 20px;
    }

    padding: 0px 20px;

    .titulos {
        h3 {
            font-weight: 800;
            font-size: 36px;
            color: rgb(55, 65, 81);

            @media(max-width: 600px) {
                font-size: 30px;
            }
        }

        h4 {
            font-weight: 800;
            font-size: 36px;
            color: #009CC0;

            @media(max-width: 600px) {
                font-size: 30px;
            }
        }
    }

    .botones {
        display: flex;
        align-items: center;
        gap: 20px;

        @media(max-width: 500px) {
            justify-content: center;
            text-align: center;
            flex-direction: column;
            gap: 20px;
        }

        a:first-child {
            height: auto;
            display: inline-block;
            background: #009CC0;
            text-decoration: none;
            text-align: center;
            color: rgb(255, 255, 255);
            font-weight: 600;
            font-size: 16px;
            padding: 13px 30px;
            border-radius: 6px;

            @media(max-width: 660px) {
                width: 100%;
                padding: 13px 20px;
                font-size: 13px;
            }

            &:hover {
                background: #008dc0;
                color: rgb(255, 255, 255);
            }
        }

        a:last-child {
            height: auto;
            display: inline-block;
            background: #d0f6ff99;
            text-decoration: none;
            text-align: center;
            color: #009CC0;
            font-weight: 600;
            font-size: 13px;
            padding: 13px 35px;
            border-radius: 6px;

            @media(max-width: 660px) {
                width: 100%;
                padding: 13px 20px;
                font-size: 13px;
            }

            &:hover {
                background: #d0f6ffdc;
            }
        }
    }
}